defaults:
  - method: rnn
  - logger: wandb
  - _self_

relax_loss: True
debug: True
model_checkpoint: False
pretrained_weights_dir: C:\Users\s8940173\Dokumente\GitHub\RNN_Battery_Model\outputs\2024-12-06\13-04-41

num_workers: 8  # Number of workers for DataLoader
loss: mse
lr: 0.0001
save_top_k: -1
epochs: 2_000
device: gpu

hydra:
  job:
    chdir: True
    
